/* .App{
  background-color: rgba(192, 192, 29, 0.746);
  padding: 1px;
  margin: 0px;
  width: 100vh;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  shape-margin: 50%;

}

li {
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  color: #1d1282aa;
}
span {
  font-weight: normal;
  color: #0caadbaa;
  font-style: oblique;
} */